<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a</key>
	<string>a.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
</dict>
</plist>
